[submodule "src/generic"]
	path = src/generic
	url = https://github.com/GuessWhatGame/generic
[submodule "src/neural_toolbox"]
	path = src/neural_toolbox
	url = https://github.com/GuessWhatGame/neural_toolbox
